@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .section-heading {
        @apply uppercase tracking-[12px] text-white text-4xl font-extrabold text-center
    }
    
    .button-style {
        @apply bg-[#63f3ac]/30 rounded-lg font-bold shadow-lg hover:bg-[#63f3ac]/70 text-[white] hover:shadow-sm transition ease-linear duration-300
    }
    
    .heroButton {
        @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-[#059669]/40 hover:text-[#059669]/40
    }

    .contactInput {
        @apply outline-none bg-slate-400/10 rounded-sm border-b-4 border-[#242424] px-4 py-2 md:px-8 md:py-4 text-gray-500 placeholder-gray-500 transition-all focus:text-white focus:border-[#63f3ac]/40
    }

    .active {
        @apply text-[#FFD369] underline decoration-4 underline-offset-4
    }

    .header {
        @apply py-1 fixed top-0 w-full mx-auto z-50
    }

    .header-active {
        @apply py-1 fixed top-0 w-full mx-auto bg-black/60 z-50
    }

    /* SCROLL ARROW */

    *, *:before, *:after {
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
       }
      
      
      .m_scroll_arrows
      {
        display: block;
        width: 5px;
        height: 5px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
         
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        margin: 0 0 3px 4px;
        
        width: 16px;
        height: 16px;
      }
      
      
      .unu
      {
        margin-top: 1px;
      }
      
      .unu, .doi, .trei
      {
          -webkit-animation: mouse-scroll 1s infinite;
          -moz-animation: mouse-scroll 1s infinite;
          animation: mouse-scroll 1s infinite;
        
      }
      
      .unu
      {
        -webkit-animation-delay: .1s;
        -moz-animation-delay: .1s;
        -webkit-animation-direction: alternate;
        
        animation-direction: alternate;
        animation-delay: alternate;
      }
      
      .doi
      {
        -webkit-animation-delay: .2s;
        -moz-animation-delay: .2s;
        -webkit-animation-direction: alternate;
        
        animation-delay: .2s;
        animation-direction: alternate;
        
        margin-top: -6px;
      }
      
      .trei
      {
        -webkit-animation-delay: .3s;
        -moz-animation-delay: .3s;
        -webkit-animation-direction: alternate;
        
        animation-delay: .3s;
        animation-direction: alternate;
        
        
        margin-top: -6px;
      }
      
      .mouse {
        height: 42px;
        width: 24px;
        border-radius: 14px;
        transform: none;
        border: 2px solid white;
      }
      
      .wheel {
        height: 5px;
        width: 2px;
        display: block;
        margin: 5px auto;
        background: white;
        position: relative;
        
        height: 4px;
        width: 4px;
        border: 2px solid #fff;
        -webkit-border-radius: 8px;
                border-radius: 8px;
      }
      
      .wheel {
        -webkit-animation: mouse-wheel 0.6s linear infinite;
        -moz-animation: mouse-wheel 0.6s linear infinite;
        animation: mouse-wheel 0.6s linear infinite;
      }
      
      @-webkit-keyframes mouse-wheel{
         0% {
          opacity: 1;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
        }
      
        100% {
          opacity: 0;
          -webkit-transform: translateY(6px);
          -ms-transform: translateY(6px);
          transform: translateY(6px);
        }
      }
      @-moz-keyframes mouse-wheel {
        0% { top: 1px; }
        25% { top: 2px; }
        50% { top: 3px;}
        75% { top: 2px;}
        100% { top: 1px;}
      }
      @-o-keyframes mouse-wheel {
      
         0% { top: 1px; }
        25% { top: 2px; }
        50% { top: 3px;}
        75% { top: 2px;}
        100% { top: 1px;}
      }
      @keyframes mouse-wheel {
      
         0% { top: 1px; }
        25% { top: 2px; }
        50% { top: 3px;}
        75% { top: 2px;}
        100% { top: 1px;}
      }
      
      @-webkit-keyframes mouse-scroll {
      
        0%   { opacity: 0;}
        50%  { opacity: .5;}
        100% { opacity: 1;}
      }
      @-moz-keyframes mouse-scroll {
      
        0%   { opacity: 0; }
        50%  { opacity: .5; }
        100% { opacity: 1; }
      }
      @-o-keyframes mouse-scroll {
      
        0%   { opacity: 0; }
        50%  { opacity: .5; }
        100% { opacity: 1; }
      }
      @keyframes mouse-scroll {
      
        0%   { opacity: 0; }
        50%  { opacity: .5; }
        100% { opacity: 1; }
      }
}